/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: fadeIn 1s ease-in-out;
  }
  
  /* Navbar Styles */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }
  
  nav h1 {
    flex-grow: 1;
    text-align: center;
  }
  
  nav button {
    background-color: #555;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: fadeIn 1s ease-in-out;
  }
  
  nav button:hover {
    background-color: #777;
  }
  
  /* Form Section Styles */
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px); /* Adjust based on the height of your nav and footer */
    padding: 20px;
  }
  
  form {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    animation: fadeIn 1s ease-in-out;
  }
  
  label, select, input {
    margin-bottom: 10px;
    display: block;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 40px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  
  /* Animations */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  /* Media Queries for Responsive Design */
  @media (max-width: 768px) {
    nav button,
    button[type="submit"] {
      padding: 10px;
      font-size: 14px;
    }
  
    form {
      padding: 15px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    label, select, input {
      margin-bottom: 8px;
    }
  }
  
  @media (max-width: 480px) {
    nav {
      flex-direction: column;
    }
  
    nav h1 {
      margin-bottom: 10px;
    }
  
    section {
      padding: 10px;
    }
  
    form {
      max-width: 100%;
    }
  
    footer {
      padding: 20px;
    }
  }
  